.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-handwrite {
    font-family: 'Courgette', cursive;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.c-80 {
    width: 80%;
}

.c-65 {
    width: 65%;
}

.c-50 {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .img-hidden {
        display: none;
    }

    .font-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .margin-socmed {
        margin: auto 0.35rem;
    }

    .margin-menu {
        margin: auto 0.25rem;
    }

    .font-6xl {
        font-size: 3.75rem;
        line-height: 1;
    }

    .font-xs {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .font-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .font-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .font-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .font-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .margin-p2 {
        margin-top: 13rem;
    }

    .t-center {
        text-align: center;
    }

    .f-col {
        flex-direction: column;
    }

    .pad-bot {
        padding-bottom: 2rem;
    }

    .mar-top {
        margin-top: 2.5rem;
    }

    .pad-help {
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
    }

    .img-w {
        width: 12rem;
    }

    .mt-hi {
        margin-top: 1.5rem;
    }

    .mt-intro {
        margin-top: 1rem;
    }

    .pady {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .pad-button {
        padding: 0.25rem 0.4rem;
    }

}